<nav id="header">
  <img src="https://p.kindpng.com/picc/s/77-774135_clip-art-letters-logo-designs-logo-design-free.png" alt="logo">
  <div>
    <input type="text" name="searchTerm" id="searchTerm" value="" placeholder="search...">
    <button>Search</button>
  </div>
  <div id="account-circle" class="account-circle">
    <img class="profile_pic" src="https://miro.medium.com/max/256/0*vuQRIjTuwmZ7r6em.jpg" alt="profile_pic">
  </div>
  <div id="account-dropdown">
    <p>John Doe
      <br>
      john.doe@example.com
    </p>
  </div>
</nav>
