<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>New post</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div style="margin-top: 40px;">
      Title:<input style="width:100%"></input><br>
      Content:<input style="width:100%"></input><br>
      Image URL:<input style="width:100%"></input><br>
      <button onclick="">Submit</button>
    </div>
  </body>
</html>
